@charset "UTF-8";

h2 {
	text-align: center;
}
p {
	text-align: center;
}

.MedalsbyYear {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.box {
	padding-top: 20px;
	text-align: center;
	margin: 10px;
}

h3 {
	text-align: center;
}

.TotalMedalsbyYear img {
	margin-left: 300px;
}

.total img {
	margin-left: 300px;

}

.compare {
	display: flex;
	flex-direction: row;
}